@page
@model WareHouseManagerWebApp.Pages.assignedTasksPanelModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/assingTaskPanel.css" />
</head>

<nav class="TaskForEmployeePanelNav">
    <a asp-page="/assignToTaskPanel">Task assignment panel</a>
    <a asp-page="/assignedTasksPanel">Assigned tasks</a>
</nav>
<h1>Assigned tasks panel</h1>

<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Barcode</th>
            <th>Ramp</th>
            <th>Shelf</th>
            <th>Row</th>
            <th>Level</th>
            <th>Upload date</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.Tasks)
        {
            <tr>
                <td>@task.Type</td>
                <td>@task.ProductBarcode</td>
                <td>@task.RampName</td>
                <td>@task.Location.Shelf</td>
                <td>@task.Location.Row</td>
                <td>@task.Location.Level</td>
                <td>@task.UploadDate</td>
                <td>@task.Status</td>


                <td>
                    <form method="post">
                        <input type="hidden" name="taskId" value="@task.Id" />
                        <button type="submit" asp-page-handler="Finish" class="btn btn-danger">Finish task</button>
                    </form>
                </td>

                <td>
                    <form method="post">
                        <input type="hidden" name="taskId" value="@task.Id" />
                        <button type="submit" asp-page-handler="Abandoned" class="btn btn-danger">Abandoned task</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>