@page
@model WareHouseManagerWebApp.Pages.ProductEditModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/productManager.css" />
</head>

<main>
    <div class="container">

<h1>Editing product:</h1>

<table>
    <thead>
        <tr>
            <th>Barcode</th>
            <th>Name</th>
            <th>Category</th>
            <th>Weight</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Model.OrginalProduct.Barcode</td>
                <td>@Model.OrginalProduct.Name</td>
                <td>@Model.OrginalProduct.Category</td>
                <td>@Model.OrginalProduct.Weight</td>
                <td>@Model.OrginalProduct.Description</td>
            </tr>
    </tbody>
</table>
<h1> Enter new data</h1>
<form method="post">
    <input type="hidden" asp-for="OrginalProduct.Barcode" />
        <div class="formField">
        <label asp-for="Input.Name"></label>
        <input asp-for="Input.Name" />
    </div>
        <div class="formField">
        <label asp-for="Input.Category"></label>
        <input asp-for="Input.Category" />
    </div>
        <div class="formField">
        <label asp-for="Input.Weight"></label>
        <input type="number" step="0.1" asp-for="Input.Weight" />
    </div>
        <div class="formField">
        <label asp-for="Input.Description"></label>
        <input asp-for="Input.Description" />
    </div>

    <button type="submit" asp-page-handler="Edit">Edit</button>
    <span asp-validation-summary="All"></span>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }
</form>

    </div>
    </main>
